@font-face {
    font-family: 'iran';
    src: url(../font/Fonts/irsans_p30download.com.ttf)format('ttf');
}

@font-face {
    font-family: 'vaziri';
    src: url(../font/vazir-font-v16.1.0/Vazir-Bold.ttf)format('ttf');
}